body{
    overflow-x: hidden;
}
header .container .logo a img {
    padding: 20px;
    width: 220px;
}

header {
    background-color: white;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
    color: #004289;
    font-size: 18px;
    margin-left: 10px;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
}

.navbar .collapse .navbar-nav .nav-item #color {
    color: #007bff;
}

.navbar {
    background-color: transparent;
    margin-right: 50px;
}

#hero {
    position: relative;
    background: url(../images/hero-bg\ \(1\).png) center bottom/cover no-repeat;
    padding: 200px 0 120px;
    width: 100%;
    height: 600px;
    display: flex;
}

#hero .container {
    width: 100%;
    display: flex;
}

#hero .hero-img {
    width: 50%;
    float: right;
    margin-left: 50px;
}

#hero .hero-img img {
    margin-bottom: 500px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img,
svg {
    vertical-align: middle;

}

#hero .hero-info {
    display: flex;
}

#hero .hero-info .btn-get-started {
    background: #007bff;
    border: 2px solid #007bff;
    color: #fff;
}

#hero .hero-info h2 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0;
}

#hero .hero-info .btn-get-started,
#hero .hero-info .btn-services {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 50px;
    transition: .5s;
    margin: 0 20px 20px 0;
    color: #fff;
}

#hero .hero-info .btn-get-started:hover {
    background-color: transparent;
    border-color: #fff;

}

#hero .hero-info .btn-services:hover {
    background-color: #007bff;
    border-color: #007bff;
}

#hero .hero-info h2 span {
    color: #74b5fc;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

#hero .hero-info .btn-services {
    border: 2px solid #fff;
}

#hero .hero-info .btn-get-started,
#hero .hero-info .btn-services {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 50px;
    transition: .5s;
    margin: 0 20px 20px 0;
    color: #fff;
}

@media (max-width:750px) {
    #hero {
        height: 900px;
    }

    #hero .hero-img {
        width: 100%;
        float: center;
        margin-left: 10px;
    }

    #hero .hero-info {
        display: block;
    }

    #hero .hero-info h2 {
        text-align: center;
    }

    #hero .hero-info .btn-get-started,
    #hero .hero-info .btn-services {
        margin-left: 80px;
    }
}

#about {
    height: 1500px;
}

#about .about-container {
    margin-bottom: 50px;
}

@media (max-width:750px) {
    #about {
        height: 3000px;
    }
}

.section-header h3 {
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative;
}

#about .container .section-header {
    margin-top: 50px;
}

h3 {
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%;
}

#about .about-container .icon-box .icon i {
    color: #007bff;
    font-size: 25px;
}

#about .about-container .icon-box .title a {
    color: #283d50;
}

#about .about-container .icon-box .icon:hover {
    background-color: #007bff;
    color: #fff;
}

#about .about-container .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #007bff;
    transition: .3s ease-in-out;
    margin-right: 20px;
}

#about .about-container .about-extra {
    margin-bottom: 50px;
    margin-top: 50px;
}

#services {
    background: #ecf5ff;
    height: 1050px;
}

#services .section-header {
    background-color: #ecf5ff;
    padding: 50px;
}

#services .container .justify-content-center #boxes {
    background-color: white;
    width: 350px;
    height: 180px;
    margin: 30px 20px;
    margin-top: 20px;
    border-radius: 40px;
    transition-duration: 2s;

}

#services .container .justify-content-center #boxes:hover {
    margin-top: -5px;

}

#services .container .justify-content-center #boxes .title a {
    color: black;
    padding: 20px;
}

#services .container .justify-content-center #boxes .box {
    display: flex;
}

#services .container .justify-content-center #boxes .title a:hover {
    color: #007bff;
    text-decoration: none
}

#services .icon i {
    font-size: 60px;
    margin-right: 20px;
    margin-top: 20px;
    transition: .5s;
}

@media (max-width:750px) {
    #services {
        height: 1900px;
    }
}

#why-us {
    background-color: #004a99;
    height: 850px;
}

#why-us .section-header {
    padding: 40px;
    background-color: #004a99;
}

#why-us .section-header h3,
#why-us .section-header p {
    color: white;
}

#why-us .card i {
    font-size: 48px;
    padding-top: 15px;
    color: #bfddfe;
}

#why-us .card {
    background: #00458f;
    border-color: #00458f;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    height: 300px;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

#why-us .card:hover {
    background-color: #083760;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

#why-us .card .readmore {
    color: #fff;
    font-weight: 600;
    display: inline-block;
    transition: .3s ease-in-out;
    border-bottom: 2px solid #00458f;
    text-decoration: none;
}

#why-us .card .readmore:hover {
    border-bottom: 2px solid white;
}

#why-us .counters span {
    font-weight: 900;
    font-size: 48px;
    display: block;
    color: #fff;
}

#why-us .counters p {
    color: #bfddfe;
}

@media (max-width:750px) {
    #why-us {
        height: 1600px;
    }
}

#portfolio {
    margin-top: 50px;
    height: 1200px;
}

#portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 15px 15px 5px 0;
    display: inline-block;
    padding: 6px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #007bff;
    border-radius: 50px;
    background: #ecf5ff;
    transition: .4s ease-in-out;
    text-align: center;
}

#portfolio .container .row {
    text-align: center;
}

#portfolio #portfolio-flters li.filter-active,
#portfolio #portfolio-flters li:hover {
    background: #007bff;
    color: #fff;
}

.profile {
    width: 350px;
    height: 300px;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 25px;
}

.profile img {
    width: 100%;
    height: 100%;

}

.sochial {
    display: flex;
    margin-left: 110px;
}
.sochial i {
    font-size: 15px;
    color: white;
    margin-top: 15px;
}

.caption {
    width: 100%;
    height: 100%;
    background-color: rgba(50, 57, 108, 0.4);
    color: white;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 100%;

}

.profile:hover .caption {
    top: 0;
    left: 0;
}

.caption:hover {
    opacity: 1;
}

.caption h1 {
    text-align: center;
    color: antiquewhite;
    margin-top: 70px;

}

.caption h1:hover {
    color: hsl(211, 100%, 50%);
    cursor: pointer;
}

.caption p {
    padding: 0px;
    text-align: center;

}

.profile .caption .sochial div {
    height: 50px;
    width: 50px;
    background-color: #007bff;
    border-radius: 50%;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;

}

@media (max-width:750px) {
    .profile {
        width: 330px;
    }

    #portfolio {
        height: 3300px;
    }
}

#testimonials {
    box-shadow: inset 0 0 12px 0 rgb(0 0 0 / 10%);
    background-color: #ecf5ff;
    padding: 60px 0;
}

#testimonials .container .section-header {
    background-color: #ecf5ff;
}

.testimonial-item {
    display: flex;
}

.testimonial-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.swiper-slide {
    height: 300px;
    width: 800px;
    background-color: #ecf5ff;
}

#team {
    height: 500px;
    width: 100%;

}

#team .team-text {
    text-align: center;
    margin-top: 50px;
}

#team .team-text h2 {
    font-size: 42px;
    font-weight: 400;
    color: #283d50;
}

#team .row .col-lg-3 .profil {
    width: 250px;
    height: 260px;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profil img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

#team .sochia {
    display: flex;
    margin-left: 60px;
}

.captio {
    width: 100%;
    height: 100%;
    background-color: rgba(37, 44, 95, 0.4);
    color: white;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 100%;
    border-radius: 50%;

}

.profil:hover .captio {
    top: 0;
    left: 0;
}

.captio:hover {
    opacity: 1;
}

.captio h1 {
    text-align: center;
    color: antiquewhite;
    margin-top: 50px;
    font-size: 20px;

}

.captio p {
    padding: 0px;
    text-align: center;

}

.profil .captio .sochia div {
    height: 90px;
    width: 30px;
    border-radius: 50%;
    margin-left: 5px;
    text-align: center;
    cursor: pointer;

}
.profil .captio .sochia div i{
    font-size: 20px;
    color: #fff;
}

#clients{
    box-shadow: inset 0 0 12px 0 rgb(0 0 0 / 10%);
    background-color: #ecf5ff;
    padding: 90px 0;
}
#clients .clients-wrap {
    border-top: 1px solid #d6eaff;
    border-left: 1px solid #d6eaff;
    background-color: white;
    margin-bottom: 60px;
    
}
.client-logo img{
    width: 200px;
    height: 130px;
    margin-left: 50px;
    transition: .3s ease-in-out;
}
.client-logo img:hover{
    width: 175px;
    height: 90px;
}
@media (max-width:750px) {
    #team .row .col-lg-3 .profil {
        margin-left: 60px;
    }
    #team{
        height: 1500px;
    }
    #clients .clients-wrap{
        width: 300px;
        margin-left: 15px;
    }
}
#contact{
    margin-top: 60px;
    height: 600px;
}
#contact .php-email-form button{
    background: #007bff;
    border-color: #007bff;
    border-radius: 20px;
    padding: 9px 30px;
    color: #fff;
}
#contact .info i {
    font-size: 30px;
    margin-right: 10px;
    color: #007bff;
    float: left;
}


.footer {
    width: 100%;
    height: 65vh;
    background-color: #00428a;
}
.footer .top {
    padding: 50px;
    width: 100%;
    border-bottom: 1px solid #b2bfe0;;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: #00428a;

}

.footer .top .right {
    display: flex;
}

.footer .top .left {
    margin-left: 100px;
}

.footer .top .left .h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-bottom: 20px;
    font-weight: 500;
}

.footer .top .left .h2 i {
    color: rgb(235, 69, 69);
}

.footer .top .left .h2 span {
    color: rgb(83, 105, 152);
}

.footer .top .left p {
    color: #b2bfe0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-bottom: 30px;
}

.footer .top .right .social {
    width: 200px;
    height: 100px;
    display: flex;

}

.footer .top .right .social i {
    font-size: 23px;
    color: #b2bfe0;
    margin: 5px;
}

.footer .right div {
    padding-left: 50px;
    width: 25%;
}

.footer .right div a {
    list-style-type: none;
    text-decoration: none;
}

.footer .right div a:hover {
    text-decoration: underline rgb(176, 184, 200);
}

.footer .right .h3 {
    color: white;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer .right ul li {
    padding: 10px 0px;
    color: #b2bfe0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.footer h5{
    color: #d6eaff;
    background-color: #00428a;
}
.footer .right .special li {
    padding: 5px 0px;
}
.footer .right .final .paragraph{
    color: #bfddfe;
    width: 300px;
}

@media (max-width:750px) {
    .footer .right .final .paragraph{
        width: 200px;
    }
    .footer{
        padding-top: 100px;
        width:100%;
        height: 1500px;
    }
    .footer .top
    {
        width: 90%;
        margin:auto ;
        display: block;
        justify-content: space-around;
        margin-bottom:60px;
    }
    .footer .top .right{
        width: 90%;
        display: block;
    }
    .footer .top .left{
        width: 90%;
        margin-left: 10px;
    }
    .footer .top .left .h2{
    font-size: 36px;
    }
    .footer .top .left p{
        font-size:13px;
    }
    .footer .right div{
        padding-left: 30px;
        width: 90%;
        margin-bottom: 20px;
    }
    .foot .right ul li{
    padding: 10px 0px;
    color: #b2bfe0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    }
    .footer .right .special li{
        padding: 5px 0px;
    }
    #contact{
        height: 1000px;
    }

}